body{
    background: #000116;
}
  
body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  padding-right: 500;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  text-decoration: none;
  margin-top: 100px;
  color: red;
}

img{
  max-width: 100%;
  display: flex;
}

.menu{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  padding: 20px ;
  margin-left: 20rem;
}

.menu a{
  display: block;
  padding: 10px;
}

.menu strong{
  color: blueviolet;

}

.menu__li{
   float: right;
}

.clear{
  clear: both;
}

.center{
  width: 1110;
  margin: 0 auto;
}

.box color{
  color: blueviolet;
  margin-left: 23rem;
}

.flex{
  margin-left: 20rem;
}

.apresentacao{
  margin: center;
}

.bt-sign{
  border: 1px solid #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 4px;
  margin-left: 5rem;
 }

 .bt-signup{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 4px;
  background: #6F009E;
  margin-left: 1rem;
}


/* CSS Responsivo 1 */

@media (max-width: 600px){


}
