body{
    background: #000116;
}
  
body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  padding-right: 500;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  text-decoration: none;
  margin-top: 100px;
  color: red;
}

.header{
  display: flex;
  flex-wrap: wrap;
  padding: 20px ;
  
}

.menu{
  display: flex;
}

.menu{
  margin-left: 10px;
}

.menu a{
  display: block;
  padding: 10px;
}

.menu strong{
  color: blueviolet;

}

.menu__li{
   float: right;
}

.clear{
  clear: both;
}

.center{
  width: 1110;
  margin: 0 auto;
}

.box color{
  color: blueviolet;
}

.flex{
 
}
/* CSS FLEXBOX 1 */

